.button-left {
    -fx-background-color: transparent;
}

.button-left:hover {
    -fx-background-color: #ffa07a;
}

.pane-border-shadow {
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, lightgray, 7, 0.3, 3, 3);
    -fx-background-insets: 10;
}

.left-background {
    -fx-background-color: #F08080;
}

.left-rounded-corner {
    -fx-background-radius: 0 30 0 0;
}

